<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.youngtse.mapper.master.UserAccountMasterMapper">
    <resultMap id="UserAccountResultMap" type="com.youngtse.domain.entity.UserAccount">
        <id property="id" column="id" />
        <result property="uuid" column="uuid" />
        <result property="userName" column="user_name" />
        <result property="password" column="password" />
        <result property="lastLoginTime" column="last_login_time" />
        <result property="createTime" column="create_time" />
        <result property="modifyTime" column="modify_time" />
        <result property="roleId" column="role_id" jdbcType="BIGINT" />
    </resultMap>

    <select id="getUserAccountById" resultMap="UserAccountResultMap">
        SELECT * FROM use_account WHERE id = #{id}
    </select>

    <select id="getUserAccountByUuid" resultMap="UserAccountResultMap">
        SELECT * FROM use_account WHERE uuid = #{uuid}
    </select>

    <select id="getUserAccountByUserName" resultMap="UserAccountResultMap">
        SELECT * FROM use_account WHERE user_name = #{userName}
    </select>

    <insert id="insertUserAccount">
        INSERT INTO use_account (uuid, user_name, password, last_login_time, create_time, modify_time, role_id)
        VALUES (#{uuid}, #{userName}, #{password}, #{lastLoginTime}, #{createTime}, #{modifyTime}, #{roleId})
    </insert>

    <update id="updateUserAccount">
        UPDATE use_account SET
        uuid = #{uuid},
        user_name = #{userName},
        password = #{password},
        last_login_time = #{lastLoginTime},
        create_time = #{createTime},
        modify_time = now(),
        role_id = #{roleId}
        WHERE id = #{id}
    </update>

    <delete id="deleteUserAccountById">
        DELETE FROM use_account WHERE id = #{id}
    </delete>
</mapper>