<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.youngtse.common.mapper.SystemMenuMapper">
  <resultMap id="BaseResultMap" type="com.youngtse.common.domain.entity.SystemMenu">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="menu_name" jdbcType="VARCHAR" property="menuName" />
    <result column="menu_icon" jdbcType="VARCHAR" property="menuIcon" />
    <result column="router_url" jdbcType="VARCHAR" property="routerUrl" />
    <result column="menu_remark" jdbcType="VARCHAR" property="menuRemark" />
    <result column="pid" jdbcType="BIGINT" property="pid" />
    <result column="sort_no" jdbcType="INTEGER" property="sortNo" />
    <result column="menu_level" jdbcType="INTEGER" property="menuLevel" />
    <result column="enabled" jdbcType="INTEGER" property="enabled" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modify_time" jdbcType="TIMESTAMP" property="modifyTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, menu_name, menu_icon, router_url, menu_remark, pid, sort_no, menu_level, enabled, 
    create_time, modify_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from system_menu
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="queryListByMenuRequest" resultType="com.youngtse.common.domain.response.MenuResponse">
    select
    <include refid="Base_Column_List" />
    from system_menu
    where 1=1
    <if test="menuName != null and menuName != ''">
      and menu_name like concat('%', concat(#{menuName}, '%'))
    </if>
    <if test="pid != null">
      and pid = #{pid}
    </if>
    <if test="menuLevel != null">
      and menu_level = #{menuLevel}
    </if>
    <if test="enabled != null">
      and enabled = #{enabled}
    </if>
    <if test="startTime != null and startTime != ''">
      and create_time >= #{startTime}
    </if>
    <if test="endTime != null and endTime != ''">
      and create_time <![CDATA[<=]]> #{endTime}
    </if>
    order by create_time desc
    limit #{offset}, #{row}
  </select>
  <select id="queryCountByMenuRequest" resultType="java.lang.Integer">
    select count(1)
    from system_menu
    where 1=1
    <if test="menuName != null and menuName != ''">
      and menu_name like concat('%', concat(#{menuName}, '%'))
    </if>
    <if test="pid != null">
      and pid = #{pid}
    </if>
    <if test="menuLevel != null">
      and menu_level = #{menuLevel}
    </if>
    <if test="enabled != null">
      and enabled = #{enabled}
    </if>
    <if test="startTime != null and startTime != ''">
      and create_time >= #{startTime}
    </if>
    <if test="endTime != null and endTime != ''">
      and create_time <![CDATA[<=]]> #{endTime}
    </if>
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from system_menu
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.youngtse.common.domain.entity.SystemMenu">
    insert into system_menu (menu_name, menu_icon,
      router_url, menu_remark, pid, 
      sort_no, menu_level, enabled, 
      create_time, modify_time)
    values (#{menuName,jdbcType=VARCHAR}, #{menuIcon,jdbcType=VARCHAR},
      #{routerUrl,jdbcType=VARCHAR}, #{menuRemark,jdbcType=VARCHAR}, #{pid,jdbcType=BIGINT}, 
      #{sortNo,jdbcType=INTEGER}, #{menuLevel,jdbcType=INTEGER}, #{enabled,jdbcType=INTEGER}, 
      #{createTime,jdbcType=TIMESTAMP}, #{modifyTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.youngtse.common.domain.entity.SystemMenu">
    insert into system_menu
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="menuName != null">
        menu_name,
      </if>
      <if test="menuIcon != null">
        menu_icon,
      </if>
      <if test="routerUrl != null">
        router_url,
      </if>
      <if test="menuRemark != null">
        menu_remark,
      </if>
      <if test="pid != null">
        pid,
      </if>
      <if test="sortNo != null">
        sort_no,
      </if>
      <if test="menuLevel != null">
        menu_level,
      </if>
      <if test="enabled != null">
        enabled,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="modifyTime != null">
        modify_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="menuName != null">
        #{menuName,jdbcType=VARCHAR},
      </if>
      <if test="menuIcon != null">
        #{menuIcon,jdbcType=VARCHAR},
      </if>
      <if test="routerUrl != null">
        #{routerUrl,jdbcType=VARCHAR},
      </if>
      <if test="menuRemark != null">
        #{menuRemark,jdbcType=VARCHAR},
      </if>
      <if test="pid != null">
        #{pid,jdbcType=BIGINT},
      </if>
      <if test="sortNo != null">
        #{sortNo,jdbcType=INTEGER},
      </if>
      <if test="menuLevel != null">
        #{menuLevel,jdbcType=INTEGER},
      </if>
      <if test="enabled != null">
        #{enabled,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyTime != null">
        #{modifyTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.youngtse.common.domain.entity.SystemMenu">
    update system_menu
    <set>
      <if test="menuName != null">
        menu_name = #{menuName,jdbcType=VARCHAR},
      </if>
      <if test="menuIcon != null">
        menu_icon = #{menuIcon,jdbcType=VARCHAR},
      </if>
      <if test="routerUrl != null">
        router_url = #{routerUrl,jdbcType=VARCHAR},
      </if>
      <if test="menuRemark != null">
        menu_remark = #{menuRemark,jdbcType=VARCHAR},
      </if>
      <if test="pid != null">
        pid = #{pid,jdbcType=BIGINT},
      </if>
      <if test="sortNo != null">
        sort_no = #{sortNo,jdbcType=INTEGER},
      </if>
      <if test="menuLevel != null">
        menu_level = #{menuLevel,jdbcType=INTEGER},
      </if>
      <if test="enabled != null">
        enabled = #{enabled,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyTime != null">
        modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.youngtse.common.domain.entity.SystemMenu">
    update system_menu
    set menu_name = #{menuName,jdbcType=VARCHAR},
      menu_icon = #{menuIcon,jdbcType=VARCHAR},
      router_url = #{routerUrl,jdbcType=VARCHAR},
      menu_remark = #{menuRemark,jdbcType=VARCHAR},
      pid = #{pid,jdbcType=BIGINT},
      sort_no = #{sortNo,jdbcType=INTEGER},
      menu_level = #{menuLevel,jdbcType=INTEGER},
      enabled = #{enabled,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      modify_time = #{modifyTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>