<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.youngtse.common.mapper.SystemMenuMapper">
  <resultMap id="BaseResultMap" type="com.youngtse.common.domain.entity.SystemMenu">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="mkey" jdbcType="VARCHAR" property="mkey" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="url" jdbcType="VARCHAR" property="url" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="seq_no" jdbcType="INTEGER" property="seqNo" />
    <result column="parent_id" jdbcType="INTEGER" property="parentId" />
    <result column="system_menu_level" jdbcType="INTEGER" property="systemMenuLevel" />
  </resultMap>
  <sql id="Base_Column_List">
    id, mkey, name, url, description, seq_no, parent_id, system_menu_level
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from system_menu
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from system_menu
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.youngtse.common.domain.entity.SystemMenu">
    insert into system_menu (id, mkey, name, 
      url, description, seq_no, 
      parent_id, system_menu_level)
    values (#{id,jdbcType=INTEGER}, #{mkey,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, 
      #{url,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR}, #{seqNo,jdbcType=INTEGER}, 
      #{parentId,jdbcType=INTEGER}, #{systemMenuLevel,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.youngtse.common.domain.entity.SystemMenu">
    insert into system_menu
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="mkey != null">
        mkey,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="url != null">
        url,
      </if>
      <if test="description != null">
        description,
      </if>
      <if test="seqNo != null">
        seq_no,
      </if>
      <if test="parentId != null">
        parent_id,
      </if>
      <if test="systemMenuLevel != null">
        system_menu_level,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="mkey != null">
        #{mkey,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="url != null">
        #{url,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="seqNo != null">
        #{seqNo,jdbcType=INTEGER},
      </if>
      <if test="parentId != null">
        #{parentId,jdbcType=INTEGER},
      </if>
      <if test="systemMenuLevel != null">
        #{systemMenuLevel,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.youngtse.common.domain.entity.SystemMenu">
    update system_menu
    <set>
      <if test="mkey != null">
        mkey = #{mkey,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="url != null">
        url = #{url,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="seqNo != null">
        seq_no = #{seqNo,jdbcType=INTEGER},
      </if>
      <if test="parentId != null">
        parent_id = #{parentId,jdbcType=INTEGER},
      </if>
      <if test="systemMenuLevel != null">
        system_menu_level = #{systemMenuLevel,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.youngtse.common.domain.entity.SystemMenu">
    update system_menu
    set mkey = #{mkey,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      url = #{url,jdbcType=VARCHAR},
      description = #{description,jdbcType=VARCHAR},
      seq_no = #{seqNo,jdbcType=INTEGER},
      parent_id = #{parentId,jdbcType=INTEGER},
      system_menu_level = #{systemMenuLevel,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>